[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/Cognisle_BE/myvenv/bin/uwsgi --ini /home/ubuntu/Cognisle_BE/.config/uwsgi/Cognisle.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
